USE [master]
GO
/****** Object:  Database [TiendaUPE]    Script Date: 18/04/2023 18:53:15 ******/
CREATE DATABASE [TiendaUPE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TiendaUPE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TiendaUPE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TiendaUPE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TiendaUPE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TiendaUPE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TiendaUPE]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 18/04/2023 18:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NombreLogin] [nvarchar](100) NOT NULL,
	[Clave] [nvarchar](100) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Cargo] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID], [NombreLogin], [Clave], [Nombre], [Apellido], [Email], [Cargo]) VALUES (1, N'david', N'1', N'David', N'Cardozo', N'ejemplo1@email.com', N'cliente')
INSERT [dbo].[Usuarios] ([ID], [NombreLogin], [Clave], [Nombre], [Apellido], [Email], [Cargo]) VALUES (7, N'ruth', N'2', N'Ruth', N'Iascas', N'ejemplo2@email.com', N'admin')
INSERT [dbo].[Usuarios] ([ID], [NombreLogin], [Clave], [Nombre], [Apellido], [Email], [Cargo]) VALUES (11, N'maria', N'3', N'Maria', N'Ojeda', N'ejemplo3@email.com', N'vendedor')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
